{% extends '__base__.html' %}

{% block beforehead %}

<script>
</script>

{% endblock %}

{% block content %}
    <div class="uk-grid uk-margin-large-top">
        <div class="uk-width-1-5@m"></div>
        <div class="uk-width-1-5@m">
            <a href="/cimiss/awsarrival" style="text-decoration: none"><div class="uk-card uk-card-default uk-card-hover uk-text-center" style="padding-top: 70px;padding-bottom: 70px;">CIMISS</div></a>
        </div>
        <div class="uk-width-1-5@m">
            <a href="/product/surface/tmp" style="text-decoration: none"><div class="uk-card uk-card-default uk-card-hover uk-text-center uk-text-middle" style="padding-top: 70px;padding-bottom: 70px;">业务产品</div></a>
        </div>
        <div class="uk-width-1-5@m">
            <a style="text-decoration: none"><div class="uk-card uk-card-default uk-card-hover uk-text-center uk-text-middle" style="padding-top: 70px;padding-bottom: 70px;">...</div></a>
        </div>
        <div class="uk-width-1-5@m"></div>
    </div>
{% endblock %}