<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册 - 江西气象数据实验平台</title>
    <link rel="stylesheet" href="/static/uikit/css/uikit.css">
    <link rel="stylesheet" href="/static/uikit/css/uikit.almost-flat.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/uikit/js/uikit.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/awesome.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/additional-methods.js"></script>
    <script>
        $().ready(function() {
            $("#form-register").validate({
                rules: {
                    password2:{
                        equalTo:"#password1"
                    },
                },
                errorPlacement: function(error, element) {
                    error.appendTo( element.parent().parent());
                },
                errorClass: "uk-text-danger"
            });
        });
        $(function() {
           var vm = new Vue({
                el: '#form-register',
                data: {
                    username: '',
                    password1: '',
                    password2: '',
                    truename: '',
                    selected:'',
                    departments: '',
                    phone: ''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        if($("#form-register").valid()) {
                            startLoading();
                            postApi('/register', {
                                username: this.username,
                                password: CryptoJS.MD5(this.password1).toString(),
                                truename: this.truename,
                                department: this.selected,
                                phone: this.phone
                            }, function (err, result) {
                                if (err) {
                                    showError(err);
                                }
                                else {
                                    if (result.succeed) {
                                        return location.assign('/');
                                    } else {
                                        showError('注册失败')
                                    }
                                }
                                stopLoading();
                            });
                        }
                    }
                }
            });
            postApi('/department', function (err, r) {
                if (err) {
                    alert(err);
                } else {
                    vm.departments = r.dpts;
                }
            });
        })
    </script>
</head>
<body class="uk-height-1-1">
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 320px" >
            <h2 style="width: 75px; margin-top: 15px;"><strong><span class="uk-text-primary">注册：</span></strong></h2>
            <form id="form-register" class="uk-panel uk-panel-box uk-form">
                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-user"></i>
                        <input v-model="username" name="username" type="text" placeholder="用户名" minlength="5" maxlength="50" class="uk-width-1-1 uk-form-large" required>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-lock"></i>
                        <input v-model="password1" id="password1" name="password1" type="password" placeholder="设置密码" minlength="5" maxlength="50" class="uk-width-1-1 uk-form-large" required>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-lock"></i>
                        <input v-model="password2" name="password2" type="password" placeholder="重复密码" minlength="5" maxlength="50" equalTo="#password1" class="uk-width-1-1 uk-form-large" required>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-info"></i>
                        <input v-model="truename" name="truename" type="text" placeholder="真实姓名" minlength="5" maxlength="50" class="uk-width-1-1 uk-form-large" required>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-select uk-active uk-width-1-1" data-uk-form-select>
                        <i class="uk-icon-bank"></i>
                        <select v-model="selected" name="department" class="uk-width-9-10 uk-form-large" required>
                            <option value='' disabled selected>所属单位</option>
                            <option v-for="department in departments" v-bind:value="department.id">
                                {% raw %}{{ department.name }} {% endraw %}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-icon uk-width-1-1">
                        <i class="uk-icon-phone"></i>
                        <input v-model="phone" name="phone" type="text" placeholder="联系电话" maxlength="50" class="uk-width-1-1 uk-form-large" required digits="true">
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="submit" v-on:click="submit" class="uk-width-1-1 uk-button uk-button-primary uk-button-large"><i class="uk-icon-sign-in"></i> 注册</button>
                </div>
                <div class="uk-form-row uk-text-small">
                    <a class="uk-float-right" href="{{ url_for('main.login') }}">登录</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>