    <div class="uk-width-medium-1-10">
        <div class="uk-panel uk-panel-box">
            <h3 class="uk-panel-title">导航</h3>
            <ul class="uk-nav uk-nav-side uk-nav-parent-icon">
                <li class="uk-parent uk-open">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="/page2/node1">Sub item</a></li>
                        <li><a href="/page2/node2">Sub item</a></li>
                    </ul>
                </li>
                <li class="uk-parent uk-open">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li><a href="#">Sub item</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>