    <div class="uk-width-1-7@m uk-visible@m">
        <div style="margin-top: 15px; overflow: auto; padding-left: 20px;">
            <h3 style="font-weight: 300; color: #000">CIMISS</h3>
            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">上行到报</li>
                <li class="uk-nav-divider"></li>
                <li><a href="/cimiss/awsarrival">区域站到报</a></li>
                <li><a href="/cimiss/awsregsource">区域站报文源</a></li>
                <li><a href="/cimiss/regcenter">中心站到报</a></li>
                <li><a href="/cimiss/awsbattery">区域站电源</a></li>
                <li><a href="/cimiss/awshistory">区域站历史情况</a></li>
            </ul>
            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">Parent</li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Sub item</a></li>
                <li><a href="#">Sub item</a></li>
            </ul>
        </div>
    </div>